# TerraLens AI Web Demo Environment Configuration
NEXT_PUBLIC_APP_NAME="TerraLens AI"
NEXT_PUBLIC_SIH_PROBLEM="SIH26227"
NEXT_PUBLIC_DEMO_MODE="production"
NEXT_PUBLIC_CARTO_API_KEY="cb1_45sy_1_7b1356d3210f8c48e5b015d3"
